@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  padding: 0;
  }

body {
  font-family: -apple-system, 'Quicksand', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  color: #1ce01c;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  
    monospace;
}

.navbar-nav li{
  cursor: pointer;
}
.title-underline{
	width: 12rem;
height: 0.3rem;
margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
position: relative;
border-radius: 2rem;


}
#footer{
  background: #242325;
}
.title-underline__center {
  position: absolute;
  height: 0.6rem;
  background: rgb(71, 102, 152);
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
.fa-user{
  border-radius: 25px;
  width: 60px;
  height: 60px; 
  background: rgb(246, 246, 246);
}
.text-brown{
  color: rgb(158 145 124);
}
.text-light-grey{
  color: rgb(141, 141, 141);
}
.text-light-grey:hover{
  color: rgb(141, 141, 141);
  text-decoration: none;
}
.text-big{
  font-size: 3.3rem !important;
}
.text-md{
  font-size: 1.5rem !important;
}
.review-bg1{
  background: rgb(249, 249, 249) center ; 
  
  background-size: cover;
  min-width: 98vw;
  max-width: 98vw;
  min-height: 53vh;
  max-height: 180vh;
  object-fit: fill;
  overflow: hidden;
}
.review-bg{
  background: url(../img/reviewbg.png) center ; 
  background-repeat: no-repeat;
  background-size: s;
  min-width: 45vw;
  max-width: 98vw;
  min-height: 53vh;
  max-height: 180vh;
  object-fit: scale-down;
  overflow: hidden;
}
.btn--contact-me {
  border-radius: 25px;
  border: 1px solid black;
  color: rgb(158 145 124);
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  }
.navbar-brand{
  cursor: pointer;
}
.btn--contact-me:hover {
    border-radius: 25px;
    background-color: rgb(71, 102, 152);
    color: #ffff;
    text-decoration: none;
}
.btn--subscribe {
  border-radius: 25px;
  color: rgb(255, 255, 255);
  padding-left: 30px; 
  padding-right: 30px; 
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 130px;
  max-height: 35px;
  background-color: rgb(45, 55, 82);
  font-size: 1rem;
  cursor: pointer;
}
.btn--subscribe:hover {
  border-radius: 25px;
  background-color: rgb(32, 39, 58);
  color: #fff;
  text-decoration: none;

}
.subscribe-bg{
  background-color:rgb(71, 102, 152);
}
#email{
  max-height: 30px;
}
.agent-bg{
  background-color: rgb(247, 247, 247);
}
.font-bold{
  font-weight: 900;
  
}
.font-light{
  font-weight: 200;
  
}